.SearchResults {
    width: 50%;
    height: 950px;
    overflow-y: scroll;
    padding: 0.88rem;
    background-color: rgba(243, 10, 88, 0.7);
    background-image: linear-gradient(60deg,rgba(243, 10, 88, 0.7), white );
    box-shadow:  2px 2px 4px grey;
    border-radius: 20px;
    text-align: center;
    color: white;
    font-weight: bold;
    font-size: 2rem;

    ::-webkit-scrollbar {
        width: 0px;
        background-color: transparent;
    }

    @media only screen and (max-width: 1020px) {
        .SearchResults {
            width: 90%;
            margin-bottom: 2rem;
        }
        
    }

}